body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    margin: 0;
    padding: 0px;
}

nav {
    background-color: darkcyan;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;

}
li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    color: aliceblue;
}