body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    margin: 0;
    padding: 0px;
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.container section{
    margin-bottom: 20px;
    border: 1px solid darkslategray;
}